.container {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.Header {
  height: 44px;
  background: white;
  position: relative;
  padding: 0;
  text-align: center;
}
.Header h2 {
  margin: 0;
  font-size: 17px;
  color: #333;
  line-height: 44px;
}
.Slider {
  display: inline;
}
.ImageBox {
  padding: 32px;
  text-align: center;
}
.Image {
  margin: 0 auto;
  max-height: 750px;
}
.button {
  width: 3rem;
  height: 2rem;
  line-height: normal;
  border-style: none;
  border: 2px solid gray;
  border-radius: 2px;
  background-color: transparent;
  position: absolute;
  right: 1rem;
  top: 0.4rem;
  font-weight: 700;
  cursor: pointer;
}
.indicator {
  height: 10rem;
  color: white;
  text-align: center;
  font-size: 20px;
}
