.introduce {
  font-family: 'Mochiy Pop P One', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.detail {
  margin-top: 2rem;
  display: flex;
}
.title {
  font-size: 50px;
  font-weight: 700;
}
.logoName {
  color: #02943f;
}
.address,
.openTime {
  line-height: 170%;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  font-size: 22px;
}
.map {
  z-index: -1;
  width: 600px;
  height: 300px;
  margin-bottom: 25px;
}
