.main {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titlebox {
  width: 400px;
  height: 200px;
  background-color: white;
  color: #02943f;
  margin-bottom: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-family: 'Mochiy Pop P One', sans-serif;
  padding-bottom: 0px;
  display: block;
  font-size: 70px;
  font-weight: 900;
}
.description,
.description2 {
  text-align: center;
  display: block;
  font-size: 17px;
}
.description2 {
  padding: 6px;
  color: #3f729b;
}
.resbtn {
  border: 3px solid white;
  background-color: transparent;
  width: 170px;
  height: 50px;
  font-size: 16px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.4s;
}
.resbtn:hover {
  border: 3px solid #02943f;
  background-color: #02943f;
}
